@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

.font-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.animate-fade-in {
  animation: fade-in 1s ease forwards;
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll-left 12s linear infinite;
}

.scroll-group {
  display: flex;
  gap: 2rem;
  padding-right: 2rem; /* ensures copies connect smoothly */
}

.item {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-left {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.animate-slide-left {
  animation: slide-left 1s ease forwards;
}

@keyframes slide-up {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

